@media (max-width: 900px) {
  .mainFooter {
    display: none;
  }

  .responsiveFooterWrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .responsiveFooter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    gap: 20px;

    .logo {
      width: 50px;
      height: 62px;
    }
    .socials {
      display: flex;
      gap: 26px;
      margin: 0;
      img {
        width: 30px;
        height: 30px;
      }
    }
    .responsiveNav {
      width: 100%;
      max-width: 365px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 14px;
      text-align: center;
      gap: 28px;
      margin: 0;
      a,
      p {
        color: rgba(38, 46, 52, 1);
        text-decoration: none;
      }
      .privacy {
        font-size: 15px;
      }
      .copyright {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 500px) {
  .responsiveFooter {
    padding: 0;
    gap: 20px;

    .logo {
    }
    .socials {
      gap: 22px;
    }
    .responsiveNav {
      width: 100%;
      max-width: 350px;
      gap: 18px;
      row-gap: 14px;
      .privacy {
        font-size: 13px;
      }
      .copyright {
        font-size: 14px;
      }
    }
  }
}
