<nav class="navbar">
    <section>
        <ul class="nav-links">
            <div class="logoMain">
                <a routerLink="/" class="logo">
                    <img src="./assets/img/logo/LogoIconBlack.svg" alt="Marcel Reyes L. Logo" loading="lazy" decoding="async" />
                </a>
                <p class="nameSmall">M. Reyes</p>
                <p class="jobTitleSmall">{{ 'INTRO.JOBTITLE' | translate }}</p>
            </div>
            <li><a href="#aboutMe-desktop" [ngClass]="{'active': activeLink === 'aboutMe'}"
                    (click)="setActive('aboutMe')">{{
                    'NAV.ABOUTME' | translate }}</a></li>
            <li><a href="#skills-desktop" [ngClass]="{'active': activeLink === 'skills'}"
                    (click)="setActive('skills')">{{
                    'NAV.SKILLS' | translate }}</a></li>
            <li><a href="#projects-desktop" [ngClass]="{'active': activeLink === 'projects'}"
                    (click)="setActive('projects')">{{
                    'NAV.PROJECTS' | translate }}</a></li>
            <li><a href="#contact-desktop" [ngClass]="{'active': activeLink === 'contact'}"
                    (click)="setActive('contact')">{{
                    'NAV.CONTACT' | translate }}</a></li>
            <li><a routerLink="/impressum" routerLinkActive="active">Impressum</a></li>
            <li><a routerLink="/rechtliche-hinweise" routerLinkActive="active">Rechtliche Hinweise</a></li>
            <app-language-switcher></app-language-switcher>
        </ul>
    </section>
</nav>