@import "../../../styles/mixins";

:host {
  display: block;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar {
  background-color: rgb(137, 188, 255);
  position: sticky;
  top: 0;
  height: 104px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  section {
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: clamp(16px, 5vw, 2rem);
    box-sizing: border-box;
  }

  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: clamp(24px, 8vw, 120px);

    .logoMain {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
      text-align: center;
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 52px;
          height: auto;
        }
      }
      .nameSmall {
        font-family: Anta;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        @include displayFlex;
        color: #f8f5ec;
      }
      .jobTitleSmall {
        font-family: Josefin Sans;
        font-weight: 300;
        font-size: 14px;
        line-height: 120%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #262e34;
      }
    }
    li a {
      font-family: Josefin Sans;
      font-weight: 500;
      font-size: 26px;
      height: 55px;
      color: #262e34;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      padding-top: 2px;
      line-height: 1.2;
      box-sizing: border-box;
      padding-inline: 8px;

      &.active {
        color: #f8f5ec;
        background-image: url("../../../assets/img/otherSpecs/navbarEllipse.svg");
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
        display: flex;
        align-items: center;
      }

      &:hover {
        color: #f8f5ec;
      }
    }
    button {
      background-color: #ffffff;
      color: #000000;
      border: none;
      cursor: pointer;
      font-weight: 500;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

.navbar *,
.navbar *::before,
.navbar *::after {
  box-sizing: inherit;
}

@import "./navbar.component.media-queries";
