.skillsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 80px;
  background-color: rgb(38, 46, 52);

  .skillsTitle {
    font-family: Anta;
    font-weight: 400;
    font-size: 60px;
    line-height: 120%;
    text-align: center;
    color: rgb(137, 188, 255);
    padding-bottom: 40px;
  }

  .skillsSorting {
    display: flex;
    gap: 100px;

    .skillsContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }
    .responsiveLearningNow {
      display: none;
    }
    .skillCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      .skillImage {
        width: 64px;
        height: 64px;
        object-fit: contain;
        margin-bottom: 0.5rem;
      }

      .skillName {
        text-align: center;
        font-family: Josefin Sans;
        line-height: 120%;
        color: rgb(137, 188, 217);
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.skillsLearning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 253, 253);
  height: 100%;
  min-height: 300px;
  width: 100%;
  padding-bottom: 2rem;
  max-width: 350px;
  text-align: center;
  position: relative;
  .responsiveShape {
    display: none;
  }
  .shapeWrapperSkills {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: visible;
    z-index: 0;
    pointer-events: none;
  }

  .shapeOneSkills,
  .shapeTwoSkills {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
    transition: opacity 0.4s ease;
  }

  .shapeOneSkills {
    opacity: 1;
    z-index: 1;
  }

  .shapeTwoSkills {
    opacity: 0;
    z-index: 2;
  }

  &:hover {
    .shapeOneSkills {
      opacity: 0;
    }
    .shapeTwoSkills {
      opacity: 1;
    }
  }
}
.responsiveButtonContainer {
  display: none;
  .responsiveButton {
    align-self: flex-end;
    margin-top: auto;
    width: 160px;
    height: 48px;
    border-radius: 30px;
    border-width: 1px;
    border-color: rgba(137, 188, 217, 1);
    padding: 13px 30px;
    color: rgba(137, 188, 217, 1);
    background-color: transparent;
  }
  .responsiveButton:hover {
    background-color: rgb(63, 70, 74);
  }
}
.learningNow,
.learningNext {
  font-family: Josefin Sans;
  font-weight: 400;
  white-space: normal;
  line-height: 1.4;
  font-size: 16px;
  max-width: 200px;
}
.responsiveShape {
  display: none;
}
.learningIcons {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  display: flex;
  justify-content: center;
  text-align: center;
  white-space: normal;
  gap: 1rem;
  margin-bottom: 1.5rem;

  img {
    width: 40px;
    height: 40px;
  }
}
@import "./skills.component.media-queries";
